{{>layout/head}}

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="index.html" class="logo"><strong>DOMAINE DE GESTION DES CLES</strong>
                    <div class="text-center">Pôle Emploi DSI</div>
                </a>
            </header>

            <!-- Content -->
            <section>
                <!-- Table -->
                <h3>Liste des groupes</h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>Intitulé </br><img src="images/trier.svg" alt="trier"></th>
                            <th>Description</th>
                            <th>Date création </br><img src="images/trier.svg" alt="trier"></th>
                            <th>Date modification </br><img src="images/trier.svg" alt="trier"></th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                            <th>Entités</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#groupes}}
                        <tr>
                            <td>{{intitule}}</td>
                            <td>{{description}}</td>
                            <td>{{horodatage_creation}}</td>
                            <td>{{horodatage_modification}}</td>
                            <td><a href="/groupeModif"><img src="images/update.png" alt="updateImg"></a></td>
                            <td><a href="#"><img src="images/delete.png" alt="deleteImg"></a></td>
                            <td><a href="#"><img src="images/search.png" alt="searchImg"></a></td>
                        </tr>
                        {{/groupes}}
                        </tbody>
                    </table>
                </div>
                <hr>
                <!-- Buttons -->
                <a href="/groupeAjout" class="button large">Ajouter un groupe</a>
            </section>
        </div>
    </div>
    {{>layout/sidebar}}
    </div>

</div>


<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/browser.min.js"></script>
<script src="js/breakpoints.min.js"></script>
<script src="js/util.js"></script>
<script src="js/main.js"></script>

</body>

{{>layout/footer}}